// base.scss
@import 'reset';

$font-stack:    Helvetica, sans-serif;
$primary-color: #555;
$col-count: 12;
$gutter: 15px;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #efefef;
}

.container{
  max-width: 1280px;
  margin:0 auto;
}

.container-fluid{
	width:80%;
	margin:0 auto;
	box-sizing:border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  
}

/* TEMP */
.row > div {
  border: 1px solid red;
  height: 100px;
  background-color: orange;
}

[class*="col"] {
    box-sizing: border-box;
  	padding: $gutter;
}

.col {flex: 1;}
.col-1{flex: 0 0 ((1 / $col-count)*100%);}
.col-2{flex: 0 0 ((2 / $col-count)*100%);}
.col-3{flex: 0 0 ((3 / $col-count)*100%);}
.col-4{flex: 0 0 ((4 / $col-count)*100%);}
.col-5 {flex: 0 0 ((5 / $col-count)*100%);}
.col-6 {flex: 0 0 ((6 / $col-count)*100%);}
.col-7 {flex: 0 0 ((7 / $col-count)*100%);}
.col-8 {flex: 0 0 ((8 / $col-count)*100%);}
.col-9{flex: 0 0 ((9 / $col-count)*100%);}
.col-10{flex: 0 0 ((10 / $col-count)*100%);}
.col-11{flex: 0 0 ((11 / $col-count)*100%);}
.col-12{flex: 0 0 100%;}



@media screen and (max-width:960px){

	.container{padding:0 20px}
	.container-fluid{width:100%; padding:0 20px;}
	
	.col-med {flex: 1;}
	.col-med-1{flex: 0 0 ((1 / $col-count)*100%);}
	.col-med-2{flex: 0 0 ((2 / $col-count)*100%);}
	.col-med-3{flex: 0 0 ((3 / $col-count)*100%);}
	.col-med-4{flex: 0 0 ((4 / $col-count)*100%);}
	.col-med-5 {flex: 0 0 ((5 / $col-count)*100%);}
	.col-med-6 {flex: 0 0 ((6 / $col-count)*100%);}
	.col-med-7 {flex: 0 0 ((7 / $col-count)*100%);}
	.col-med-8 {flex: 0 0 ((8 / $col-count)*100%);}
	.col-med-9{flex: 0 0 ((9 / $col-count)*100%);}
	.col-med-10{flex: 0 0 ((10 / $col-count)*100%);}
	.col-med-11{flex: 0 0 ((11 / $col-count)*100%);}
	.col-med-12{flex: 0 0 100%;}
}

@media screen and (max-width:540px){
	.col-sm {flex: 1;}
	.col-sm-1{flex: 0 0 ((1 / $col-count)*100%);}
	.col-sm-2{flex: 0 0 ((2 / $col-count)*100%);}
	.col-sm-3{flex: 0 0 ((3 / $col-count)*100%);}
	.col-sm-4{flex: 0 0 ((4 / $col-count)*100%);}
	.col-sm-5 {flex: 0 0 ((5 / $col-count)*100%);}
	.col-sm-6 {flex: 0 0 ((6 / $col-count)*100%);}
	.col-sm-7 {flex: 0 0 ((7 / $col-count)*100%);}
	.col-sm-8 {flex: 0 0 ((8 / $col-count)*100%);}
	.col-sm-9{flex: 0 0 ((9 / $col-count)*100%);}
	.col-sm-10{flex: 0 0 ((10 / $col-count)*100%);}
	.col-sm-11{flex: 0 0 ((11 / $col-count)*100%);}
	.col-sm-12{flex: 0 0 100%;}
	
}

