// base.scss
@import 'reset';
@import 'grid';

$font-stack:    Helvetica, sans-serif;
$primary-color: #555;
$border-color: #eee;


body {
  font: 100% $font-stack;
  color: $primary-color;
}


header{
	.top-nav{
		padding-top:25px;
		padding-bottom:25px;
	}

	nav{
		
		border-top:1px solid $border-color;
		border-bottom:1px solid $border-color;

		ul{
			display:flex;
			justify-content:space-between;
			max-width:800px;
			margin:0 auto;
			li{
				flex:1;

				a{
					padding:25px;
					display:inline-block;
				}
			}
		}
	}

}

